<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
</head>
<body>

<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading">轮播图</div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-cf">首页</div>
                </div>
                <div class="widget-body am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" id="addBanner" class="am-btn am-btn-default am-btn-success"
                                    ><span class="am-icon-plus"></span>添加轮播图
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black"
                               id="banner_table_id">
                            <thead>
                            <tr>
                                <th class="am-text-center">轮播名称</th>
                                <th class="am-text-center">轮播描述</th>
                                <th class="am-text-center">创建时间</th>
                                <th class="am-text-center">状态</th>
                                <th class="am-text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr></tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="am-modal am-modal-no-btn" id="my-popup">
                        <div class="am-modal-dialog">
                            <div class="am-modal-hd">
                                <h4 class="am-popup-title">轮播图设置</h4>
                                <span data-am-modal-close
                                      class="am-close" onclick="javascript:$('.am-dimmer').hide();">&times;</span>
                            </div>
                            <div class="am-modal-bd">
                                <form class="am-form am-form-horizontal">
                                    <div class="am-form-group am-form-success am-form-icon am-form-feedback">
                                        <label class="am-u-sm-2 am-form-label">轮播名称</label>
                                        <div class="am-u-sm-10">
                                            <input type="text" id="banner_name" class="am-form-field am-u-sm-6" placeholder="输入轮播图的标题">
                                        </div>
                                    </div>
                                    <div class="am-form-group am-form-success am-form-icon am-form-feedback">
                                        <label class="am-u-sm-2 am-form-label">轮播图描述</label>
                                        <div class="am-u-sm-10">
                        <textarea id="banner_desc" class="am-form-field am-u-sm-6"
                                  style="min-height: 100px;"></textarea>
                                        </div>
                                    </div>
                                    <div class="layui-upload">
                                        <button type="button" class="am-btn am-btn-success am-fl" id="testList">请选择要轮播的图片</button>
                                        <div class="layui-upload-list">
                                            <table class="layui-table">
                                                <thead>
                                                <tr>
                                                    <th>文件名</th>
                                                    <th>大小</th>
                                                    <th>状态</th>
                                                    <th>跳转地址</th>
                                                    <th>图片描述</th>
                                                    <th>操作</th>
                                                </tr>
                                                </thead>
                                                <tbody id="fileList"></tbody>
                                            </table>
                                        </div>
                                        <!--<button type="button" class="layui-btn" id="testListAction">开始上传</button>-->
                                    </div>
                                </form>
                                <div class="am-g">
                                    <button class="am-btn am-btn-primary am-center am-margin-vertical-sm" id="banner_submit">提交</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--<script src="assets/js/jquery.min.js"></script>-->
<!--&lt;!&ndash;<script src="assets/js/amazeui.min.js"></script>&ndash;&gt;-->
<!--<script src="assets/js/amazeui.datetimepicker.min.js"></script>-->
<!--<script src="assets/js/locales/amazeui.datetimepicker.zh-CN.js" charset="utf-8"></script>-->
<!--<script src="assets/js/datatables.min.js"></script>-->
<!--<script src="assets/js/dataTables.buttons.js"></script>-->
<!--<script src="assets/js/dataTables.responsive.min.js"></script>-->
<script src="assets/js/amazeui.min.js"></script>
<script src="javascript/banner.js"></script>
</body>
</html>