<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button class="am-btn am-btn-success">切换公司</button>
<script src="assets/js/jquery.min.js"></script>
<script>
    $('.am-btn').click(function () {
        $.post('/api/changeuser', {
            'token': 'eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiIxODk2Mjk3OTEwOCIsImlhdCI6MTU0NTYxNTcxMSwic3ViIjoieHh4eEAxMjYuY29tIiwiaXNzIjoid3d3Lnh4eHguY29tIiwiZXhwIjoxNTQ1NjE5MzExfQ.yBa4b5_i6cGwXwMu1zoAmDp2Gdrs1nTn9I4YDb5afXY',
            'user_id': 'dinghongfen',
            'company_id': '8'
        }, function (resp) {

        })
    })
</script>
</body>
</html>