<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>佣金规则</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" media="all">
    <script src="/front/script/jquery.min.js" charset="utf-8"></script>
    <script src="/bootstrap/js/bootstrap.js" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <style>
        .layui-form-label {
            width: 150px;
        }

        .layui-input {
            width: 400px;
        }
    </style>
</head>
<body>
<div style="margin-bottom:20px;margin-left: 20px;"><h1>佣金比例设置</h1></div>
<form class="layui-form" id="form1" action="" onsubmit="return false">
    <div class="layui-form-item">
        <label class="layui-form-label">量房佣金(元)</label>
        <div class="layui-input-block">
            <input type="number" name="score" lay-verify="title" autocomplete="off" th:value="${score}" placeholder=""
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">提现最低金额(元)</label>
        <div class="layui-input-block">
            <input type="text" name="minWithdraw" placeholder="" autocomplete="off" th:value="${minDral}"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分享次数</label>
        <div class="layui-input-block">
            <input type="text" name="shareCount" lay-verify="title" autocomplete="off" placeholder=""
                   th:value="${sharecount}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">提现选择</label>
        <div class="layui-input-inline" style="width:400px;">
            <select name="bWithdrawOpen" lay-verify="required" lay-search="">
                <option value=""></option>
                <option value="0" th:selected="${dralstatus == 0}">不允许提现</option>
                <option value="1" th:selected="${dralstatus == 1}">允许提现</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邀请佣金</label>
        <div class="layui-input-block">
            <input type="text" name="invitScore" placeholder="" autocomplete="off" th:value="${invitescore}"
                   class="layui-input">
        </div>
    </div>
    <div style="margin-bottom:20px;margin-left: 20px;"><h3>比例设置（内部员工）</h3></div>

    <div class="layui-form-item">
        <label class="layui-form-label">一级佣金比例(%)</label>
        <div class="layui-input-block">
            <input type="text" name="firstPercentage" lay-verify="title" autocomplete="off" placeholder=""
                   th:value="${firstpresent}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">二级佣金比例(%)</label>
        <div class="layui-input-block">
            <input type="text" name="secondPercentage" placeholder="" autocomplete="off" th:value=${secondpresent}
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea name="nbRemark" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div style="margin-bottom:20px;margin-left: 20px;"><h3>比例设置（其他）</h3></div>

    <div class="layui-form-item">
        <label class="layui-form-label">一级佣金比例(%)</label>
        <div class="layui-input-block">
            <input type="text" name="qtfirstPercentage" lay-verify="title" th:value="${ofirstpreset}" autocomplete="off"
                   placeholder="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">二级佣金比例(%)</label>
        <div class="layui-input-block">
            <input type="text" name="qtsecondPercentage" placeholder="" th:value="${osecondpreset}" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="qtRemark"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
        </div>
    </div>
    <input type="hidden" name="telphone">
</form>
<script src="/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'jquery', 'table'], function () {
        var form = layui.form, $ = layui.jquery, table = layui.table;
        form.render();
        form.verify({
            pass: [
                /^\d+$/
                , '排序字段必须为纯数字'
            ]
        });

        function getCookie(name) {
            var arr = document.cookie.split('; ');
            for (var i = 0; i < arr.length; i++) {
                var arr2 = arr[i].split('=');
                if (trim(arr2[0]) === name) {
                    return unescape(trim(arr2[1]));
                }
            }
            return '';
        }

        /**
         * cookie操作
         */

        $("input[name='telphone']").val(getCookie("telphone"));

        function trim(str) {
            return str.replace(/(^\s*)|(\s*$)/g, "");
        }
    });

    $("#form1").submit(function () {
        var formData = new FormData(document.getElementById("form1"));
        $.ajax({
            async: false,
            type: "POST",
            url: "/addYongjinGuiZe",
            data: formData,
            dataType: "json",
            contentType: false, //不设置内容类型
            processData: false, //不处理数据
            success: function (data) {
                if (data > 0) {
                    alert("添加成功")
                    $("#myModal").modal('hide');  //手动关闭
                    table.reload("test");
                } else {
                    alert("添加失败")
                }
            },
            error: function () {
            }
        })
    })
</script>
</body>
</html>